:root{
  /* bootstrap colors, replacing them didn't work for buttons. */
  --primary: #2f243b;
  --info: #151319;
  --success: #43854a;
  --warning: #c17512;
  --danger: #f44336;
  /* custom colors */
  --brand: var(--primary);
  --darkshade: #1c1920;
  --darkaccent: #515fb1;
  --lightshade: #c5c2b9;
  --lightaccent: #627898;
  /* text colors */
  --textlight: var(--lightshade);
  --textdark: var(--darkshade);
}

a:active{
  color:var(--primary);
}

a, a:visited{
  color: var(--textlight);
}

body{
  background-color: var(--darkshade);
  color: var(--darkshade);
}

button{
  margin-top: 1em;
}

blockquote{
  padding: 0.5em;
}

.btn-primary{
  border: none;
  background-color: var(--primary);
  color: var(--textlight);
}

.btn-primary:focus, .btn-primary:hover{
  border: none;
  background-color: var(--darkaccent);
  color: var(--textlight);
}

.button-submit{
  margin-top: 1em;
  margin-right: 1em;
}

.card{
  box-shadow: 0 4px 20px 0 var(--primary), 0 4px 30px 0 var(--primary);
  background-color: var(--lightshade);
  color: var(--textdark);
}

.card-accent{
  background-color: var(--lightaccent);
  color: var(--textdark);
}

.card-dark{
  background-color: var(--darkshade);
  color: var(--textlight);
}

.card-dark-accent{
  background-color: var(--darkaccent);
  color: var(--textlight);
}

.card-title{
  color: var(--darkshade);
}

.col-xs-12, .col-sm-12{
  padding-bottom: 0.5em;
}

.container{
  max-width: 1500px;
  margin: auto;
  margin-bottom:1 em;
  padding-bottom: 1em;
  /* border: 1px solid black; */
  align-items: center;
  background-color: var(--darkshade)
}

.header-row{
  background-color: var(--primary);
  color: var(--lightshade);
  margin-bottom: 1em;
  border-radius: 0.2rem;
  justify-content:space-between;
}

.logo {
  width: 50px;
  padding-bottom: 0.25em;
}

.logo-div{
  display: inline;
  line-height: 2em;
  flex-grow: 3;
  margin: 0.5em;
  margin-left: 0.5em;
  font-size: 3em;
}

.navbar{
  display: flex;
  flex: 0 0 300px;
  box-sizing: border-box;
  margin:1em;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1.5em;
}

.wrapper{
  background-color:inherit;
}

a:hover{
  color: var(--lightaccent);
  text-decoration: none;
}

.blockquote {
  font-size: 2em;
  padding-bottom: 0em;
}

.blockquote-footer {
  font-size: 1.5em;
  padding-top: 0em;
  padding-left: 2em;
  padding-bottom: 1em;
}

.whisper-text{
  font-size:x-small;
}