body{
  background-color: #281e19;
}

a, a:visited{
  color:#7b7b7e;
}

a:active{
  color:#7b7b7e;
}

a:hover{
  color:#3f3f3f;
  text-decoration:none;
}

.container{
  margin:auto;
  margin-bottom:1em;
  /* max-width:1500px; */
  border: 1px solid black;
  font-color:white;
  padding-bottom:1em;
}

.logo-div{
  flex:5 5;
  padding:0.5em;
  margin-left:0.5em;
  font-size:3em;
}

.logo {
  width:100px;
}

.navbar{
  float:right;
  align-items:flex-end;
  display:inline;
  font-size:1.5em;
  display:flex;
  text-align:flex-end;
  padding:0.5em;
  box-sizing: border-box;
}

.blank-divider{
  flex: 3 0;
}

.header-text{
  display:inline;
}

.blank-col{
  
}

.header-row{
  background-color:#3f3f3f;
  color:white;
  margin-bottom:1em;
}

.col-xs-12{
  padding-bottom:0.5em;
}

.col-sm-12{
  padding-bottom:0.5em;
}